<div class="side-top">
  <div class="user">
    <a herf="#">Tom</a>
  </div>
  <div class="create">
    <a herf="#">チャットを作成する</a>
  </div>
</div>  
<div class="side-main">
  <div class="room">
   <div class="room-name">
     <a herf="#">techroom1</a>
   </div>
  </div>
  <div class="room">
   <div class="room-name">
     <a herf="#">techroom2</a>
   </div>
  </div>
</div>